.picture{
    height: 5vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #F4F4F4;
}

.mainPageContainer{
    height: 200vh;
}

.headerMainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size:50px;
}